/* Base styles */
:root {
    --cell-size: 20vmin; /* 20% of the viewport's smaller dimension */
    --block-size: 10vmin;
    --grid-gap: 2vmin;
}

body {
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

#crosswordGrid {
    display: grid;
    grid-template-columns: repeat(3, var(--cell-size));
    gap: var(--grid-gap);
    justify-content: center;
    padding: var(--grid-gap);
}

.grid-cell {
    width: var(--cell-size);
    height: var(--cell-size);
    border-radius: 10px;
    background-color: #f8f8f8;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5vmin;
    user-select: none;
    cursor: pointer;
}

.letter-block {
    width: var(--block-size);
    height: var(--block-size);
    border-radius: 5px;
    background-color: #ffa500;
    color: white;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1vmin;
    cursor: grab;
    touch-action: none; /* Prevent the browser from taking its default action */
}

/* Media Queries */
@media (max-width: 600px) {
    /* Smaller font size and padding for smaller screens */
    :root {
        --cell-size: 18vmin;
        --block-size: 8vmin;
    }

    .grid-cell {
        font-size: 4vmin;
    }
}

@media (min-width: 601px) {
    /* Larger font size and padding for larger screens */
    :root {
        --cell-size: 15vmin;
        --block-size: 7vmin;
    }

    .grid-cell {
        font-size: 4vmin;
    }
}
